.elementor-652 .elementor-element.elementor-element-abb0113>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-abb0113 {
    margin-top: 0px;
    margin-bottom: -5px;
}

.elementor-652 .elementor-element.elementor-element-753d5f4>.elementor-container {
    max-width: 1300px;
}

.elementor-652 .elementor-element.elementor-element-e9270f3>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-652 .elementor-element.elementor-element-28abcca img {
    width: 70%;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-ccb3c93.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-ccb3c93.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(43px/2);
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(43px/2);
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(43px/2);
    margin-left: calc(43px/2);
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-43px/2);
    margin-left: calc(-43px/2);
}

body.rtl .elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-43px/2);
}

body:not(.rtl) .elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-43px/2);
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
    transition: color 0.3s;
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-652 .elementor-element.elementor-element-a782819 {
    --e-icon-list-icon-size: 21px;
    --icon-vertical-offset: 0px;
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-icon {
    padding-right: 10px;
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-item>a {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
}

.elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-text {
    color: var( --e-global-color-primary);
    transition: color 0.3s;
}

.elementor-652 .elementor-element.elementor-element-a782819>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-9628326.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-9628326.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button .elementor-align-icon-right {
    margin-left: 13px;
}

.elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button .elementor-align-icon-left {
    margin-right: 13px;
}

.elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var( --e-global-color-primary);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.44);
    padding: 20px 32px 20px 32px;
}

.elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button:hover,
.elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button:focus {
    color: #FFFFFF;
    background-color: var( --e-global-color-secondary);
}

.elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button:hover svg,
.elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-78aa2a8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-652 .elementor-element.elementor-element-31f6a5e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-31f6a5e:not(.elementor-motion-effects-element-type-background),
.elementor-652 .elementor-element.elementor-element-31f6a5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-accent);
}

.elementor-652 .elementor-element.elementor-element-31f6a5e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-652 .elementor-element.elementor-element-31f6a5e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-372d9c3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-372d9c3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-5dd709f>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-5dd709f {
    margin-top: -10px;
    margin-bottom: -10px;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-d8e4f3a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-d8e4f3a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-d8e4f3a.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu>ul,
.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,
.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu>li>a {
    display: flex;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    justify-content: center;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu .menu-item .sub-menu {
    left: 100%;
    top: unset;
    right: unset;
    bottom: unset;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 55px;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
    color: #FFFFFF;
    background-color: var( --e-global-color-primary);
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
    color: #FFFFFF;
    background-color: var( --e-global-color-primary);
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-size: 15px;
    font-weight: 500;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
    color: var( --e-global-color-secondary);
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
    fill: var( --e-global-color-secondary);
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
    color: #FFFFFF;
    background-color: var( --e-global-color-accent);
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    min-width: 220px;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    float: right;
    background-color: var( --e-global-color-primary);
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    background-color: var( --e-global-color-primary);
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    object-fit: cover;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7>.elementor-widget-container {
    margin: -10px 0px -10px 0px;
}

.elementor-652 .elementor-element.elementor-element-4a4c5f7 {
    z-index: 50;
}

.elementor-652 .elementor-element.elementor-element-c1605f8>.elementor-container {
    max-width: 1280px;
}

.elementor-652 .elementor-element.elementor-element-c1605f8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-c1605f8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-652 .elementor-element.elementor-element-c1605f8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-9fc69eb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-9fc69eb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-421cfe3>.elementor-container {
    max-width: 1320px;
}

.elementor-652 .elementor-element.elementor-element-421cfe3>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-421cfe3 {
    margin-top: -10px;
    margin-bottom: -10px;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-9b65ca8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-9b65ca8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-9b65ca8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-652 .elementor-element.elementor-element-9b65ca8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-652 .elementor-element.elementor-element-ea40be6 img {
    width: 80%;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-46d07bb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-46d07bb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-46d07bb>.elementor-element-populated {
    margin: -6px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button {
    font-weight: 500;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var( --e-global-color-primary);
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.29);
}

.elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button:hover,
.elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button:focus {
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(230deg, var( --e-global-color-primary) 0%, var( --e-global-color-accent) 100%);
}

.elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button:hover svg,
.elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-652 .elementor-element.elementor-element-8e2a69f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-8e2a69f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-652 .elementor-element.elementor-element-8e2a69f.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu>ul,
.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,
.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu>li>a {
    display: flex;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    justify-content: center;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu .menu-item .sub-menu {
    left: 100%;
    top: unset;
    right: unset;
    bottom: unset;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 40px;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: var( --e-global-color-primary);
    border-style: solid;
    border-color: #D6D6D69C;
    transition-duration: 3s;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
    color: #FFFFFF;
    background-color: var( --e-global-color-accent);
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
    color: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-size: 15px;
    font-weight: 500;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
    color: var( --e-global-color-secondary);
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
    fill: var( --e-global-color-secondary);
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
    color: #FFFFFF;
    background-color: var( --e-global-color-accent);
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
    fill: #FFFFFF;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    min-width: 220px;
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    float: right;
    background-color: var( --e-global-color-primary);
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    background-color: var( --e-global-color-primary);
}

.elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    object-fit: cover;
}

.elementor-652 .elementor-element.elementor-element-14ee08e {
    z-index: 50;
}

@media(max-width:1024px) {
    .elementor-652 .elementor-element.elementor-element-28abcca img {
        width: 100%;
        max-width: 100%;
    }
    .elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button {
        padding: 10px 10px 10px 10px;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 260px;
    }
    .elementor-652 .elementor-element.elementor-element-ea40be6 {
        text-align: left;
    }
    .elementor-652 .elementor-element.elementor-element-ea40be6 img {
        width: 33%;
        max-width: 100%;
    }
    .elementor-652 .elementor-element.elementor-element-46d07bb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button {
        font-size: 25px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        font-size: 25px;
        letter-spacing: 1.1px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        width: 67px;
        color: #FFFFFF;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 34px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 34px;
        fill: #FFFFFF;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 267px;
    }
}

@media(max-width:767px) {
    .elementor-652 .elementor-element.elementor-element-28abcca img {
        width: 100%;
    }
    .elementor-652 .elementor-element.elementor-element-a782819 {
        --e-icon-list-icon-size: 12px;
    }
    .elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-652 .elementor-element.elementor-element-a782819 .elementor-icon-list-item>a {
        font-size: 15px;
    }
    .elementor-652 .elementor-element.elementor-element-a782819>.elementor-widget-container {
        padding: 0px 0px 0px 40px;
    }
    .elementor-652 .elementor-element.elementor-element-78aa2a8 .elementor-button {
        padding: 14px 16px 14px 16px;
    }
    .elementor-652 .elementor-element.elementor-element-78aa2a8>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-652 .elementor-element.elementor-element-78aa2a8 {
        width: var( --container-widget-width, 64%);
        max-width: 64%;
        --container-widget-width: 64%;
        --container-widget-flex-grow: 0;
    }
    .elementor-652 .elementor-element.elementor-element-d8e4f3a {
        width: 50%;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
        background-color: var( --e-global-color-primary);
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        padding: 0px 0px 0px 30px;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        color: #FFFFFF;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
        fill: #FFFFFF;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        width: 55px;
        color: #FFFFFF;
        padding: 12px 12px 12px 12px;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 20px;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 20px;
        fill: #FFFFFF;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 193px;
        object-fit: contain;
    }
    .elementor-652 .elementor-element.elementor-element-4a4c5f7 {
        z-index: 50;
    }
    .elementor-652 .elementor-element.elementor-element-9b65ca8 {
        width: 50%;
    }
    .elementor-652 .elementor-element.elementor-element-ea40be6 img {
        width: 87%;
    }
    .elementor-652 .elementor-element.elementor-element-46d07bb {
        width: 25%;
    }
    .elementor-652 .elementor-element.elementor-element-46d07bb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-652 .elementor-element.elementor-element-62afba6 .elementor-button {
        font-size: 18px;
        padding: 16px 18px 16px 18px;
    }
    .elementor-652 .elementor-element.elementor-element-8e2a69f {
        width: 25%;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        justify-content: flex-end;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
        background-color: var( --e-global-color-primary);
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu.break-point-tablet .jkit-menu-wrapper {
        background-color: var( --e-global-color-primary);
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        padding: 0px 0px 0px 20px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        font-size: 18px;
        padding: 15px 0px 15px 20px;
        color: #FFFFFF;
        border-width: 0px 0px 1px 0px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
        fill: #FFFFFF;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        min-width: 400px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        width: 55px;
        color: #FFFFFF;
        padding: 12px 12px 12px 12px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 25px;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 25px;
        fill: #FFFFFF;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 100px;
        object-fit: contain;
    }
    .elementor-652 .elementor-element.elementor-element-14ee08e {
        z-index: 50;
    }
}

@media(min-width:768px) {
    .elementor-652 .elementor-element.elementor-element-e9270f3 {
        width: 13.142%;
    }
    .elementor-652 .elementor-element.elementor-element-ccb3c93 {
        width: 66.991%;
    }
    .elementor-652 .elementor-element.elementor-element-9628326 {
        width: 19.503%;
    }
    .elementor-652 .elementor-element.elementor-element-9b65ca8 {
        width: 18.589%;
    }
    .elementor-652 .elementor-element.elementor-element-46d07bb {
        width: 22.178%;
    }
    .elementor-652 .elementor-element.elementor-element-8e2a69f {
        width: 58.788%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-652 .elementor-element.elementor-element-d8e4f3a {
        width: 46%;
    }
    .elementor-652 .elementor-element.elementor-element-9b65ca8 {
        width: 60%;
    }
    .elementor-652 .elementor-element.elementor-element-46d07bb {
        width: 20%;
    }
    .elementor-652 .elementor-element.elementor-element-8e2a69f {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100% !important;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        -moz-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -webkit-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -o-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -ms-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper.active {
        left: 0;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        overflow-y: hidden;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
        padding: 4px 15px;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        position: inherit;
        box-shadow: none;
        background: none;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li {
        display: block;
        width: 100%;
        position: inherit;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu {
        display: none;
        max-height: 2500px;
        opacity: 0;
        visibility: hidden;
        transition: max-height 5s ease-out;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a {
        display: block;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i {
        float: right;
    }
}

@media (max-width: 767px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg {
        float: right
    }
}

@media (min-width: 768px) {
    .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        height: 100%;
    }
}

@media (max-width: 767px) {
    .admin-bar .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 32px;
    }
}

@media (max-width: 782px) {
    .admin-bar .elementor-element.elementor-element-4a4c5f7 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 46px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100% !important;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        -moz-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -webkit-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -o-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -ms-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper.active {
        left: 0;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        overflow-y: hidden;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title {
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
        padding: 4px 15px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        position: inherit;
        box-shadow: none;
        background: none;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li {
        display: block;
        width: 100%;
        position: inherit;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu {
        display: none;
        max-height: 2500px;
        opacity: 0;
        visibility: hidden;
        transition: max-height 5s ease-out;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i {
        float: right;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg {
        float: right
    }
}

@media (min-width: 1025px) {
    .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .admin-bar .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 32px;
    }
}

@media (max-width: 782px) {
    .admin-bar .elementor-element.elementor-element-14ee08e .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 46px;
    }
}